ul{
    list-style: none;
}

a{
    transition-property: all;
    transition-duration: 0.4s;
    color: #871214;
    text-decoration: none;
}

a:hover{
    color: yellow;
    background-color: #871214;
    padding: 0.3vw 0.2vh;
    text-decoration: none;
}

#logout{
    border: none;
    transition-property: all;
    transition-duration: 0.5s;
    background-color: transparent;
    color: #fff;
}
