body{
    height: fit-content;
}

/*Navbar design*/
#navbar
{
    position: fixed;
    background-color: #871214;
    height: 200vh !important;
    width: 20vw;
}

#navbar h1{
    color: #fff;
}

#navbar ul{
    padding: 0;
    list-style: none;
    color: #fff;
}

#navbar li{
    cursor: pointer;
}

/*Buttons*/

#change{
    transition: all 0.5s;
    border: none;
    background-color: orange;
    padding: 1vw 2vh;
    color: #fff;
}

#change:hover{
    color: #871214;
}

#log-in:hover{
    color: #871214;
}

#log-in{
    transition: all 0.5s;
    padding: 1vw 2vh;
    background-color: orange;
    border: none;
    color: #fff;
    /* width: 70vw; */
}

#logout{
    border: none;
    transition-property: all;
    transition-duration: 0.5s;
    background-color: transparent;
    color: #fff;
    padding: 0;
}


#logout:hover{
    padding: 0 1vw;
    color: yellow;
}

#addButton{
    transition: all 0.5s;
    border: none;
    background-color: orange;
    padding: 1vw 2vh;
    color: #fff;
}

#addType{
    transition: all 0.5s;
    border: none;
    background-color: orange;
    color: #fff;
}

#addType:hover{
    color: #871214;
}

#addButton:hover{
    color: #871214;
}

#search{
    position: absolute;
    right: 10px;
    border: none;
    background-color: orange;
    padding: 0.2vw 2vh;
    color: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#removeBook, #close
{
    border: none;
    background-color: orange;
    padding: 0.2vw 2vh;
    color: #000;
}

/*Search*/

#searchPart
{
    padding: 0;
    display: flex;
}

#found{
    display: none;
    background-color: #871214;
    color: #fff;
    padding: 1vw 2vh;
}

#searchingFor{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#searchContainer{
    position: relative;
}

/*End of categorizes*/

#body{
    margin-top: auto;
    background-color: #fff;
    padding: 1vw 2vh;
}

#main{
    height: 100vh;
}

h1{
    cursor: default;
}

a{
    transition-property: all;
    transition-duration: 0.4s;
    color: #fff;
    text-decoration: none;
}

a:hover{
    color: yellow;
    background-color: #871214;
    padding: 0.3vw 0.2vh;
    text-decoration: none;
}

#bookId
{
    visibility: hidden;
}

hr{
    color: orange;
}

.icon{
    margin-right: 20px;
}

.thead{
    background-color: #871214;
    color: #fff;
}