#navbar
{
    background-color: #871214;
    height: 100vh !important;
    width: 20vw;
}

#main{
    height: 100vh;
}

h1{
    cursor: default;
}

#navbar h3{
    color: #fff;
}

#navbar ul{
    padding: 0;
    list-style: none;
    color: #fff;
}

#navbar li{
    cursor: pointer;
}

a{
    transition-property: all;
    transition-duration: 0.4s;
    color: #fff;
    text-decoration: none;
}

a:hover{
    color: yellow;
    text-decoration: none;
    padding: 0 1vw;
}

#logout{
    border: none;
    transition-property: all;
    transition-duration: 0.5s;
    background-color: transparent;
    color: #fff;
    padding: 0;
}

#addButton{
    transition: all 0.5s;
    border: none;
    background-color: orange;
    padding: 1vw 2vh;
    color: #fff;
}

#addButton:hover{
    color: #871214;
}

#searchPart
{
    padding: 0;
    display: flex;
}

#found{
    display: none;
    background-color: #871214;
    color: #fff;
    padding: 1vw 2vh;
}

#searchingFor{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#search{
    border: none;
    background-color: orange;
    padding: 0.2vw 2vh;
    color: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#removeBook
{
    border: none;
    background-color: orange;
    padding: 0.2vw 2vh;
    color: #000;
}

#bookId
{
    visibility: hidden;
}

#logout:hover{
    padding: 0 1vw;
    color: yellow;
}

#play, #pause{
    transition: all 0.5s;
    background-color: orange;
    border: none;
    padding: 1vh 2vw;
}

#play:hover{
    color: #871214;
}

#pause:hover{
    color: #871214;
}

hr{
    color: orange;
}